<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046296245333-n82r3tjv9q5ifnom4q06oq5ao9pl7fed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046296245333-n82r3tjv9q5ifnom4q06oq5ao9pl7fed</string>
	<key>API_KEY</key>
	<string>AIzaSyCgBxZWoQqjNicoELWASeWxlmAHGM321qA</string>
	<key>GCM_SENDER_ID</key>
	<string>1046296245333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahmutmercan.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-2a55c</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-2a55c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046296245333:ios:8b8e2eaf358cdd3bf4d0dc</string>
	<key>DATABASE_URL</key>
	<string>https://instaclonefirebase-2a55c.firebaseapp.com</string>
</dict>
</plist>
